{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <!-- Page Content -->
    <div class="container">

        <h3 style="text-align: center">Товары в категории {{ category }}</h3>

        <div class="row">

            {% include 'inc/_sidebar.html' %}

            <div class="col-lg-9">


                {% include 'inc/_goods.html' %}

                {% include 'inc/_nav_pag.html' %}

            </div>

        </div>

    </div>
    <!-- /.container -->
{% endblock %}
<!-- Footer -->

{% block footer %}
    {% include 'inc/_footer.html' %}
{% endblock %}
